site_name: Georouting

site_url: https://wybert.github.io/georouting

repo_url: https://github.com/wybert/georouting

theme:
    palette:

        # Palette toggle for light mode
        - scheme: default
          toggle:
            icon: material/brightness-7 
            name: Switch to dark mode

        # Palette toggle for dark mode
        - scheme: slate
          toggle:
            icon: material/brightness-4
            name: Switch to light mode

        # scheme: preference
        # scheme: default

    name: material
    logo: img/georouting_icon.png
    favicon: img/favicon.ico
    # icon: https://raw.githubusercontent.com/wybert/georouting/main/docs/images/georouting%20icon.svg
        # repo: fontawesome/brands/github
    features:
        - navigation.instant
        - search.highlight
        - navigation.expand
        # - navigation.tabs
    custom_dir: "docs/overrides"

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
        #   ignore_h1_titles: True
        #   execute: True
        #   execute_ignore: "*.ipynb"
          
markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X
extra_css:
    - stylesheets/extra.css
nav:
    - Home: index.md
    - Installation: installation.md
    # - Usage: usage.md
    - Usage: usage.ipynb
    - LLMs.txt: llms-txt.md
    - Contributing: contributing.md
    # - FAQ: faq.md
    # - Report Issues: https://github.com/wybert/georouting/issues
    - API Reference:
          - Overview: api/index.md
          - GoogleRouter: api/google.md
          - OSRMRouter: api/osrm.md
          - BingRouter: api/bing.md
          - EsriRouter: api/esri.md
          - OSMNXRouter: api/osmnx.md
          - Base Classes: api/base.md
          - Utils: api/utils.md
    - Changelog: changelog.md