on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: build
jobs:
    py-check:
        runs-on: ${{ matrix.config.os }}
        name: ${{ matrix.config.os }} (${{ matrix.config.py }})
        strategy:
            fail-fast: false
            matrix:
                config:
                    - { os: windows-latest, py: "3.9" }
                    - { os: windows-latest, py: "3.10" }
                    - { os: windows-latest, py: "3.11" }
                    - { os: windows-latest, py: "3.12" }
                    - { os: windows-latest, py: "3.13" }
                    - { os: macOS-latest, py: "3.9" }
                    - { os: macOS-latest, py: "3.10" }
                    - { os: macOS-latest, py: "3.11" }
                    - { os: macOS-latest, py: "3.12" }
                    - { os: macOS-latest, py: "3.13" }
                    - { os: ubuntu-latest, py: "3.9" }
                    - { os: ubuntu-latest, py: "3.10" }
                    - { os: ubuntu-latest, py: "3.11" }
                    - { os: ubuntu-latest, py: "3.12" }
                    - { os: ubuntu-latest, py: "3.13" }

        env:
            SDKROOT: /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
        steps:
            - name: CHECKOUT CODE
              uses: actions/checkout@v3
            - name: SETUP PYTHON
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.config.py }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --user --no-cache-dir Cython
                  pip install --user -r requirements.txt
                  pip install --user -r requirements_dev.txt
            - name: PKG-TEST
              env:
                  google_key: ${{ secrets.GOOGLE_KEY }}
                  esri_key: ${{ secrets.ESRI_KEY }}
                  baidu_key: ${{ secrets.BAIDU_KEY }}
                  tomtom_key: ${{ secrets.TOMTOM_KEY }}
                  mapbox_key: ${{ secrets.MAPBOX_KEY }}
                  here_key: ${{ secrets.HERE_KEY }}
              run: |
                  python -m pytest tests/
